// text highlight color
highlight-color = blue

// 140 Color Names Supported by All Browsers
// http://www.w3schools.com/htmL/html_colornames.asp

// Name that Color
// http://chir.ag/projects/name-that-color/#6195ED

// Brand colors
$white = #fff
$black = #000

// colors (via http://clrs.cc - slightly modded)
navy = #001F3F
blue = #0074D9
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #D13F19
maroon = #85144B
fuchsia = #F012BE
purple = #B10DC9
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #222222

// Color classes
.black
  color $black

.white
  color $white
