
normalize-css()
base()
typography()
border-box-html()
@lost gutter 2rem;
// @lost flexbox flex;
col = lost-column

col($x)
  lost-column: x


// base
@import "_base/mixins"
@import "_base/globals"
@import "_base/colors"
@import "_base/typography"
@import "_base/animations"

// components
@import "_components/footer"
@import "_components/header"
@import "_components/buttons"

// pages
@import "_pages/*"

section
  lost-center: 1140px;
  
